#version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: python manage.py runserver 0.0.0.0:8000

  portfolio:
    build: ./portfolio
    ports:
      - "8080:80"



