{% extends "base.html" %}

{% block content %}

<body>
    <h1>Page Contact (en développement...)</h1>
</body>
<div class="container">
    <h1>Contact</h1>
    <p>Email: youssouphamarega@gmail.com</p>
</div>

<!-- Début de widget en ligne Calendly -->
<div class="calendly-inline-widget" data-url="https://calendly.com/youssouphamarega/60min"
    style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Fin de widget en ligne Calendly -->
{% endblock %}